          
          <div class="row">
            <div class="col-lg-3 col-xs-6">
             
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>
                    {{ usercount }}
                  </h3>
                  <p>
                    Users
                  </p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="/all_users" class="small-box-footer">
                  User Management <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-xs-6">
             
              <!-- <div class="small-box bg-green">
                <div class="inner">
                  <h3>
                    {{ expensecount }}
                  </h3>
                  <p>
                    Expenses
                  </p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="/all_jobs" class="small-box-footer">
                  Active <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-xs-6"> -->
           
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>
                    {{ expensecount }}
                  </h3>
                  <p>
                    Expenses
                  </p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="/all_products" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-xs-6">
            
              <!-- <div class="small-box bg-red">
                <div class="inner">
                  <h3>
                    {{ invoicecount }}
                  </h3>
                  <p>
                    Invoices
                  </p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="/all_invoices" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div> -->
            </div>
          </div>
             
              <div class="small-box bg-teal">
                <div class="inner">
                  <h3>
                    1
                  </h3>
                  <p>
                    User Search
                  </p>
                </div>
                <div class="icon">
                  <i class="ion ion-ios7-alarm-outline"></i>
                </div>
                <a href="show_user" class="small-box-footer">
                  Show detailed info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-xs-6">
             
             
            </div>
		  </div>