{% extends 'base.html' %}

{% block content %}
  
  <ul class="breadcrumb">
    <li><a href="/new_expense_form">Create New Expense</a> <span class="divider">/</span></li>
    <li class="active">Expense Management</li>
  </ul>

  <div class="form-group">
    <div id="doesn't matter">
        <form action="/create_expense_process" method="POST">
          <div class="header">Instructions: Fill in all information then select "Add Expense".</div>  
          <div class="fields">
            Expense Name:<br>
            <input type="text" name="expense_name" required><br>
            Expense Type:<br>
            <input type="text" name="expense_id" required><br>
            Description:<br>
            <input type="text" name="description"><br> 
            Expense Location:
            <input type="text" name="expense_location"><br> 
             Amount:
            <input type="text" name="amount"><br>

            <input class="button normal" type="submit" value="Add expense">
            </div>
        </form>
      </div>
    </form>

  </div>

{% endblock %}