{% extends "base.html" %}

{% block content %}

<div page-header>
    <h4 class="page-header">Welcome
      {% if "user_id" in session and 3 in session["role_ids"]%}
    </h4>
  {% endif %}
</div>

 <a href ="http://www.elizabethblandonline.com/avatar-liz-color.png"></a>


<h4>Current Features</h4>
<ul>
<li><a href="/all_expenses">All Expenses</a></li>
<li><a href="/all_users">User List</a></li>
</ul>

  {% if "user_id" in session and 1 in session["role_ids"]%}
    {% include "dashboard_modules.html" %} 
  {% endif %}

    <h3>Modules</h3>
    <ul>
      <li><a>User Management</a></li>
      <li><a>All Expenses</a></li>
    </ul>

{% if "user_id" in session and 3 in session["role_ids"]%}
  {% for expense in expenses %}

    {{ expense.expense_name }}

  {% endfor %}
{% endif %}


{% endblock content %}
