{% extends 'base.html' %}
{% block stylesheet %}
    <link href="{{ url_for('static', filename='css/ecrm.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css"
          rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}
{% block content_header %}
  {% include "content_header.html" %} 
{% endblock content_header %}
{% block content %}
  {% if user in session %}


<script>
  function submitForm(){
    document.getElementById("showuser").submit();
  }
</script>



  <form   action="/show_user", methods=["GET", "POST"]>

    <h2>User Information:</h2>
    <ul>
        <li>
            {{ user.email}} ({{user.user_id}})
        </li> 
        {% endif %}
    </ul>


    <ul class="breadcrumb">
      <li>  <a href="/show_user/{{ user.user_id }}">
          {% if "user_id" in session and 1 in session["role_ids"]%}
         </a> <span class="divider">User Info</span></li>
      <li class="active">{{ user.fname }} - {{ user.lname }}</li>  
    </ul>
  </form>


  <div class="show-user-information">

    <div class="header">User Details</div>
      <div class="fields">
          <table class="table">
            <tr>
              <th>First Name: </th>
              <th>Last Name: </th>
              <th>Email Address:  </th>
              <th>Address Line 1: </th>
              <th>Address Line 2: </th>
              <th>City:</th>
              <th>State: </th>
              <th>Zipcode: </th>
              <th>Department: </th>
              <th>Birthday:: </th>
              <th>Job Title: </th>
              <th>User Status:</th>

          </tr>
           <tr class='clickable' data-toggle="modal" data-id="{{ user.user_id }}">
              <td>{{ user.fname }}</td>
              <td>{{ user.lname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.address1 }}</td>
              <td>{{ user.address2 }}</td>
              <td>{{ city }}, {{ state }} {{ zip_code}}</td>
              <td>{{ user.job_title }}</td>
              <td>{{ user.department }}</td>
              <td>{{ user.birthdate }}</td>
              <td>{{ user.active }}</td>
            </tr>
            <form id = "showuser"  action="/update_user" method="POST">
              <input type="hidden" name="id" value="{{ user.user_id }}">
              <input type="hidden" name="email" value="{{ user.email }}">
               <input type="hidden" name="fname" value="{{ user.fname }}">
              <input type="hidden" name="lname" value="{{ user.lname }}">
              <div class="field">
                <button class="btn btn-primary" onClick="submitForm();"  type="submit">Update User </button>
              </div>
            </form>
          </div>
        </table>
            
            Detailed User Information for Administration Only:
         <!-- SEPARATE STAFF FROM CUTOMERS AND LIST SEPARATELY ON SAME PAGE -->
             RoleID/Permissions: 
      <!-- /TO DOOOOOOOOO TIE IN DELETE_BUTTON ON FORM -->
        
    </div> 


 
    {% endif %} 
  {% endblock content %}


  