  <section class="sidebar">


          <div class="user-panel">
              <div class="pull-left image">
                <img src="http://elizabethblandonline.com/avatar-liz-color.png" class="img-square" alt="avatar ecrm">
              </div>
              <div class="pull-left info">
                <p>User Name</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
              </div>
          </div>

          <!-- Search Form -->
         
          <!-- <form action="/search" method="get" class="sidebar-form">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
              </div>
          </form>
          -->

        
          <ul class="sidebar-menu">
            <li class="header"></li><li class="header"></li>

            <li><a href="/homepage"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

            {# USERS #}
            <li class="treeview">
              <a href="/all_users"><i class="fa fa-cogs"></i> <span>User Directory</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">

               
                  {# User Management #}
                  <li class="treeview">
                      <a href="/all_jobs"><i class="fa fa-cog"></i> <span>Expenses</span> <i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        <li><a href="/all_products"><i class="fa fa-genderless"></i> <span>All Expenses</span></a></li>
                        
                          <li><a href="#"><i class="fa fa-genderless"></i> <span>Profile</span></a></li>
                        
                      </ul>
                  </li>

                  <!-- {# App Settings #}
                  <li class="treeview">
                      <a href="#"><i class="fa fa-cogs"></i> <span>Application Settings</span> <i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-genderless"></i> <span>User Management</span></a></li>
                        <li><a href="#"><i class="fa fa-genderless"></i> <span>App Config</span></a></li>
                        <li><a href="#"><i class="fa fa-genderless"></i> <span>Module Settings</span></a></li>
                        <li><a href="#"><i class="fa fa-genderless"></i> <span>Users</span></a></li>
                      </ul>
                  </li> -->

                {# User Settings Group #}
                
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Account</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Profile</span></a></li>
                

              </ul>
            </li>


            {# Modules #}
            

            <li class="treeview">
              <a href="/all_jobs"><i class="fa fa-fort-awesome"></i> <span>Expenses</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-home"></i> <span>Category</span></a></li>
                <li><a href="#"><i class="fa fa-chevron-circle-right"></i> <span>All Expenses</span></a></li>
                <!-- {% if logged_in ==['Toggle Placeholders'] == 'true' %} -->
                  <li><a href="#"><i class="fa fa-chevron-circle-right"></i> <span>Accounts</span></a></li>
                {% endif %}
               
                  <li><a href="#"><i class="fa fa-cogs"></i> <span>Job Settings</span></a></li>
                
              </ul>
            </li>
            

            
            <li class="treeview">
              <a href="/all_users"><i class="ion-person-stalker"></i> <span>User Management</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="/create_new_user">  <i class="fa fa-home"></i> <span>Create New User</span></a></li>
                <li><a href="/all_users">  <i class="fa fa-chevron-circle-right"></i> <span>Customer List</span></a></li>
                
                  <li><a href="#"><i class="fa fa-cogs"></i> <span>Expense Tracker Settings</span></a></li>
                
              </ul>
            </li>
            
            <!-- <li class="treeview">
              <a href="/all_staff"><i class="fa fa-users"></i> <span>Staff</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-home"></i> <span>Staff</span></a></li>
                <li><a href="#"><i class="fa fa-chevron-circle-right"></i> <span>Staff List</span></a></li>
                
                  <li><a href="#"><i class="fa fa-cogs"></i> <span>Staff Settings</span></a></li>
                
              </ul>
            </li> -->
            

         
            
           <!--  <li class="treeview">
              <a href="#"><i class="fa fa-bar-chart"></i> <span>Invoices</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-home"></i> <span>Invoices</span></a></li>
                <li><a href="#"><i class="fa fa-chevron-circle-right"></i> <span>Open Invoices</span></a></li>
                <li><a href="#"><i class="fa fa-chevron-circle-right"></i> <span>Create New Invoice</span></a></li>
                
                  <li><a href="#"><i class="fa fa-cogs"></i> <span>Invoice Settings</span></a></li>
                
              </ul>
            </li>
              </ul> -->
        </section>
            <div class="pull-right"><a href=""/logout class="btn btn-default btn-flat">Log out</a>